html, body { height: 100vh; }

body { display: flex; flex-direction: column; }

@media screen and (min-width: 769px) { nav { padding: 0 1.5em; } }

pre code.hljs { background-color: transparent; }

.expander { position: absolute; font-size: 1.5rem; transform: rotate(0deg); top: -3px; left: 0; }

.expander::before { content: "\203A"; }

.expander.expanded { left: 4px; top: 2px; transform: rotate(90deg); }

.sidebar { display: flex; position: fixed; overflow-x: hidden; overflow-y: auto; }

.sidebar ul li { line-height: 2rem; padding-left: 1em; position: relative; }

.sidebar ul li a { color: #4a4a4a; }

.sidebar ul li a:not(.expander):hover { text-decoration: underline; }
