*[Bb]in/
*[Oo]bj/
*[Dd]ebug/
*[Ll]ibrary/
*[Tt]emp/
*[Bb]uild/
*[Bb]uilds/
*TestResults/
packages/
NuGet/
.vs/

*_ReSharper*
*.user
*.suo
*.dbmdl
*.schemaview
*.DotSettings*
*[Ll]og.txt
docs/Help
*crunch*
*project.lock.json
