@inherits StatiqRazorPage<TocItem>
<li>
	<span>
		@if (Model.Children.Count > 0)
		{
			<a class="expander"></a>
		}

		<a href="@(new RelativeUrl(Model.Link, Document.GetString(Keys.LinkRoot)).ToString())">@Model.Title</a>
	</span>

	@if (Model.Children.Any())
	{
		<partial name="_TocItems" for="@Model.Children" />
	}
</li>
