@{
	IReadOnlyList<IDocument> methods = Document.GetDocumentList(CodeAnalysisKeys.Members)
		?.Where(x => x.GetBool(CodeAnalysisKeys.IsResult) && x.GetString(CodeAnalysisKeys.Kind) == "Method")
		.OrderBy(x => x.GetString(CodeAnalysisKeys.DisplayName))
		.ToList();
	if(methods?.Count > 0)
	{
		((List<(string, string)>)ViewData[Keys.Headings]).Add(("Methods", "Methods"));
		<h1 id="Methods">Methods</h1>
		<div class="table-responsive">
			<table class="table table-api table-striped table-hover three-cols">
				<thead>
					<tr>
						<th>Name</th>
						<th>Return Value</th>
						<th>Summary</th>
					</tr>
				</thead>
				<tbody>
					@foreach(IDocument method in methods)
					{
						<tr>
							<td>@Context.GetTypeLink(method, false)</td>
							<td>@Context.GetTypeLink(method.GetDocument(CodeAnalysisKeys.ReturnType))</td>
							<td>
								<div>@Html.Raw(method.GetString(CodeAnalysisKeys.Summary))</div>
								@{
									IDocument containingType = method.GetDocument(CodeAnalysisKeys.ContainingType);
									if(!Document.IdEquals(containingType))
									{
										<div><small><em>Inherited from @Context.GetTypeLink(containingType)</em></small></div>
									}
									if(method.GetBool(CodeAnalysisKeys.IsStatic))
									{
										<div><small><em>static</em></small></div>
									}
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}