@* Override in your own input directory to customize the appearance of items in the child pages list *@
@* The document for the child page is passed in as the model *@

@{
    string excerpt = Model.GetString(Keys.Excerpt);
    <div class="p-3 mb-2 bg-light page-box">
        <h4>@Html.DocumentLink(Model)</h4>

        @if (!string.IsNullOrEmpty(excerpt))
        {
            <div class="font-size-sm">@Html.Raw(excerpt)</div>
        }

        @{
            DocumentList<IDocument> children = OutputPages
                .GetChildrenOf(Model)
                .Where(x => !x.ContainsKey(Keys.RedirectTo))
                .ToDocumentList();
            if (!Model.GetBool(SiteKeys.NoChildPages) && children.Count > 0)
            {
                <ul class="list-inline border-top mt-2 pt-2 small">
                    @foreach (IDocument child in children)
                    {
                        <li class="list-inline-item">
                            @Html.DocumentLink(child)
                        </li>
                    }
                </ul>
            }
        }
    </div>
}