@{
    String indexFileName = Context.Settings.GetIndexFileName();
    foreach(IDocument doc in OutputPages.GetChildrenOf(indexFileName)
        .Concat(OutputPages.Get(NormalizedPath.Combine(Context.GetPath(DocsKeys.ApiPath), indexFileName)))  // Ensure the API path is added even if it's not a direct child of the root page
        .Where(x => x is object)  // The concat above may have produced a null document if no API documents were generated
        .Where(x => x.GetBool(SiteKeys.ShowInNavigation, true))
        .Distinct()  // Ensure that duplicate API links aren't shown
        .OrderBy(x => x.GetInt(Keys.Order)))
    {
        <li class="nav-item">
            @Html.DocumentLink(
                doc,
                doc.GetString(SiteKeys.NavigationTitle, doc.GetTitle()),
                new Dictionary<object, object> { { "class", "nav-link" } })
        </li>
    }
}
@if (Context.GetBool(WebKeys.GenerateSearchIndex))
{
    // If search is enabled, show a link to the search page
    <li class="nav-item">
        <a href="/search" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </a>
    </li>
}